<p id="extras" class="anchor"></p>
<% agreement_extras = agreement.extras.pluck(:extra_id) %>
<ul class="hi-menu-h">
  <% Extra.order(:name).each do |extra| %>
  <% color = agreement_extras.include?(extra.id) ? 'green' : 'red' %>
  <% link = mode == :show ? '' :  agreement_add_remove_extra_path(agreement.id, extra.id ) %>
  <% unless color == 'red' and mode == :show %>
  <li>
    <h2><a href="<%=  link %>" style="<%= "color:#{color};" %>"<i>[<%= extra.name %>]</i></a></h2>
  </li>
  <% end %>
  <% end %>
</ul>
