<p id="taxes" class="anchor"></p>
<% taxes = agreement.taxes.pluck(:tax_id) %>
<ul class="hi-menu-h">
  <% Tax.order(:name).each do |tax| %>
  <% color = taxes.include?(tax.id) ? 'green' : 'red' %>
  <% link = mode == :show ? '' :  agreement_add_remove_tax_path(agreement.id, tax.id ) %>
  <% unless color == 'red' and mode == :show %>
  <li>
    <h2><a href="<%=  link %>" style="<%= "color:#{color};" %>"<i>[<%= tax.name %>]</i></a></h2>
  </li>
  <% end %>
  <% end %>
</ul>
