<% all_zones =  Zone.order('parent_zone_id Desc') %>


<p class="anchor" id="zones"></p>
<%= card  ['Acuerdo: Zonas', "Zonas asignadas: #{zones.count}. Haga click para agregar y eliminar"] do %>
  <%= tree :tree2, all_zones, :name, :id, :zones, :parent_zone_id, link, zones.pluck(:id), mode %>
<% end %>
