<header id="header" class="clearfix" data-ma-theme="blue">
  <ul class="h-inner">
    <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="hi-logo hidden-xs">
      <a href="<%= root_path %>"><%= @title || "Rent a Car Admin" %></a>
    </li>

    <li class="pull-right">
      <ul class="hi-menu">

        <li class="dropdown">
          <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Top Search Content -->
  <div class="h-search-wrap">
    <div class="hsw-inner">
      <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
      <input type="text">
    </div>
  </div>
</header>